<button (click)="home()" id="backButton">Back</button>

<div id="level">
    @for (level of gameService.getAllLateboardUsers(); track level) {
        <button class="buttonlevel" (click)="showLevel($index + 1)">Level {{ $index + 1 }}</button>
    }
</div>

<table>
    <tr>
        <th>Users:</th>
        <th>Points:</th>
    </tr>
    @for (user of gameService.getLateboardUser(this.choseLevel); track user) {
        <tr>
            <td>{{ user }}</td>
            <td>{{gameService.getLateboardRound(this.choseLevel)[$index]}}</td>
        </tr>
    }
</table>